BODY{
    margin: 0px;
    text-align: center;

}
h1{
    font-size:60px ;
    color: sandybrown;

    margin: 50px auto 0 auto;
    
}
h2{
    color: brown;
}
h3{
    color: sandybrown;  
}

.top-container{
    background-color:#E4F9F5;
} 
.WEB{
    text-decoration: underline;
}
.top-c{
    background-color: #E4F9F5;
    position: absolute;
    right: 120px;

    p{
        line-height: 2;
    }

.top-p{
color: darkgoldenrod;
    font-size: 30px;
}
.top-img{
  
 width: 300px;
    height: 300px;
    border-radius:100% ;
}
.on-work{
    width: 300px;
    height: 300px;
    border-radius:100% ;
}
.top-work{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}


.middle-c{
    position: absolute;
    top: 30px;
}
p{
    line-height: 2;
  }
  a{
    color: red;
    margin: 10px 15px;
    text-decoration: none;
  }
  a:hover{
    color: #1b262c;
  }
  hr{
  border: dotted;
  color: burlywood;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
  }
}
.bottm-m {
    position: absolute;
    left: 30px;
}

.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #b9cced;
position: relative;
padding: 70px 0 50px;

}
.btn{
    <style type="text/css">
    
        -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
        -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
        box-shadow: 0px 1px 0px 0px #f0f7fa;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2) );
        background:-moz-linear-gradient( center top, #33bdef 5%, #019ad2 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2');
        background-color:#33bdef;
        -webkit-border-top-left-radius:6px;
        -moz-border-radius-topleft:6px;
        border-top-left-radius:6px;
        -webkit-border-top-right-radius:0px;
        -moz-border-radius-topright:0px;
        border-top-right-radius:0px;
        -webkit-border-bottom-right-radius:6px;
        -moz-border-radius-bottomright:6px;
        border-bottom-right-radius:6px;
        -webkit-border-bottom-left-radius:0px;
        -moz-border-radius-bottomleft:0px;
        border-bottom-left-radius:0px;
    text-indent:0;
        border:1px solid #057fd0;
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
    height:50px;
        line-height:50px;
    width:140px;
        text-decoration:none;
        text-align:center;
        text-shadow:0px -1px 0px #5b6178;
    }.my button:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef) );
        background:-moz-linear-gradient( center top, #019ad2 5%, #33bdef 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef');
        background-color:#019ad2;

        position:relative;
        top:1px;
    </style>
    
    }
}